*{
    margin: 0 0 0 0;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: rgba(17, 17, 17, 0.75);
    justify-content: space-between;
    align-items:center;
    position: fixed;
    color:antiquewhite;

   
}

.left_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
}

.latest_news{
    display: flex;
    background-image: url(https://genshin.hoyoverse.com/_nuxt/img/5d86b58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    justify-content: center;
    

}

.latest_news_item{
    display: flex;
    margin: 150px 10px 10px 10px;
    height: 500px;
    flex-direction: column;
    background-color: rgba(17, 17, 17, 0.75);
    padding: 15px;
    width: 430px;
    align-items: center;
    position: relative;
}
.latest_news_img{
    height: 200px;
    width: 430px;
    object-fit: cover;
    object-position: 50% 50%;

}
.latest_news_tittle{
    color:antiquewhite;
    margin-top: 15px;
}

.latest_news_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* position: absolute;
    bottom: 10px; */
}
.btn_news{
   
    border: 0px;
    border-radius: 3px;
    width: 100px;
    height: 30px;

    background-color: rgba(57, 59, 64, 0.18);
    color: black;
    

}
.btn_news:hover{
    background-color: rgb(57, 59, 64);
    color: rgb(244, 216, 168);
    
}
.all_news{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    width: 100%;
    box-sizing: content-box;
}
.tabs{
    margin: 50px;
    /* fdg */
}